* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -15px black;
}
