* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Poppins;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  margin-left: 10px;
}

.nav--btn {
  background-color: #4379b8;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
