.DropdownMenu {
  position: relative;
  display: inline-block;
}

.DropdownMenu__button {
  background-color: none;
  color: black;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.btnIcon {
  margin-left: 0.5rem;
  width: 10px;
}
.DropdownMenu__list {
  border-radius: 2%;
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.DropdownMenu__list-item {
  display: block;
  padding: 16px;
}

.DropdownMenu__list-item a {
  color: black;
  text-decoration: none;
}

.DropdownMenu:hover .DropdownMenu__list {
  display: block;
}
