.dropdownArrow {
  margin-left: 5px;
  width: 10px;
}
.dropdownMenu-container {
  position: relative;
  margin-top: 50%;
  margin-left: 45%;
  width: 60%;
}
.dropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}


.dropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.dropdownTrigger {
  display: flex;
  border-radius: 50%;
}