.dropdownArrow {
  margin-left: 5px;
  width: 10px;
}

.dropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.dropdownTrigger {
  display: flex;
  border-radius: 50%;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  .dropdownArrow {
    margin-left: 5px;
    width: 10px;
  }
  .dropdownMenu-container {
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }

  .dropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  .dropdownTrigger {
    display: flex;
    border-radius: 50%;
  }
}
