@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

:root{
  --imviBlue: #4679bc;
  --navy: #1A3F71;
  --lightestBlue: #ECF2FB;
  --mainBlack: #1c1c1c;
  --darkGrey: #707070;
  --mutedBerry: #BC4679;
  --green: #5A9D26;
  --red: #D20000;
  --lightGrey: #E8E8E8;
  --offWhite: #F9F9F9;
}

.hidden {
  display: none;
}


.container {
  display: grid;
  height: 75vh;
  width: 100vw;
  place-items: center;
  backdrop-filter: blur(10px);
  background: #F5F5F5;
}

/* CSS FÖR "LÄSRUTAN" DÄR ALL TEXT,FRÅGOR VISAS */
.reading-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 90%;
  font-size: 20px;
  background: #F5F5F5;
}


/* CSS FÖR VÄLKOMST SIDAN */
.welcomePageContainer{
  position: absolute;
  width: 90%;
  height: 100%;
  left: 400px;
  top: 85px;
  overflow: auto;
}

.welcomeTextHeader{
  width: 276px;
  height: 85.33px;
}


.welcomeText1 {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: lighter;
  font-size: 28px;
  line-height: 41px;
  color: #1C1C1C;
  width: 276px;
  height: 41px;
}

.welcomeText2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #1C1C1C;
  width: 265px;
  height: 44px;
}

.welcomePageDiv2{
  margin-top: 2%;
  width: 399px;
  height: 139px;
}


.welcomePageDiv2 p{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #606060;
  margin-top: 5%;
}

.checkBoxDiv{
  margin-top: 3%;
  width: 330px;
  height: 116px;
}

.checkBoxDiv div{
  display: flex;
  margin-top: 1%;
  align-items: center;
}

.checkBoxDiv div p{
  margin-left: 1%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 32px;
  color:#486284;
}


.welcomePageDiv3{
width: 405px;
height: 40px;
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #606060;
margin-top: 1%;
}

.welcomePageButtonsDiv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 412px;
  height: 48px;
}

.RegisterGuestDiv{
 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
}


.readingImg{
position: absolute;
width: 508px;
height: 470px;
right: 500px;
}


.registerButton{
padding: 12px 20px;
gap: 10px;
width: 190px;
height: 48px;
background: #4679BC;
border: 1px solid #486284;
border-radius: 50px;
font-family: 'Avenir';
font-style: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

.guestButton{
  padding: 12px 20px;
  gap: 10px;
  width: 190px;
  height: 48px;
  border: 1px solid #4679BC;
  border-radius: 50px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #4679BC;
}

.AlreadyRegisterdDiv{
  width: 229px;
  height: 25px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(28, 28, 28, 0.8);
  margin-top: 2%;
  
}


.AlreadyRegisterdDiv button{
  color: #4679BC;
  border: none;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background: none!important;
  border: none;
  padding: 0!important;
  
}

.readingIcon{
position: absolute;
width: 508px;
height: 470px;
right: 100px;
top: 100px;
}





/* --------------------------------------------------   */


/* CSS FÖR LEVEL SELECTOR OCH VEM SOM GÖR TESTET   */

.level-selector{
  display: flex;
  flex-direction: column;
  width: 394px;
  height: 581.38px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
}

.panel {
  width: 394px;
  height: 148px;
  display: flex;
  flex-direction: column;
}

.panelLabelDiv{
  margin-bottom: 5%;
}

.panelLabel{
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 120%;
color: #1C1C1C;

}

.panel input[type="radio"] {
  width: 27.41px;
  height: 27.41px;
}

.panel input[type="radio"]:checked {
  accent-color: var(--imviBlue);
}

.panel1, .panel2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 18.27px;
  margin-bottom: 4%;
}

.panel1 label{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #666666;
}

.panel2 label{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #666666;
}


.level-div .age-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12.56px;
  width: 393px;
  height: 135px;
  
}

.age-container input{
  box-sizing: border-box;
  padding: 17.1314px 18.2735px 17.1314px 28.5524px;
  width: 393px;
  height: 49.11px;
  background: rgba(255, 255, 255, 1e-05);
  border: 1.14209px solid rgba(28, 28, 28, 0.25);
  border-radius: 4.56838px;
}

.age-container label span{
width: 9px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15.9893px;
line-height: 120%;
color: #ED0000;
}

.level-div .level-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 393px;
  height: 135px;
  
}

.level-container select{
  box-sizing: border-box;
  padding: 17.1314px 18.2735px 17.1314px 28.5524px;
  width: 393px;
  height: 49.11px;
  background: rgba(255, 255, 255, 1e-05);
  border: 1.14209px solid rgba(28, 28, 28, 0.25);
  border-radius: 4.56838px;
}


.level-selector .start-button {
  box-sizing: border-box;
  padding: 13.7051px 22.8419px;
  gap: 11.42px;
  width: 393px;
  height: 48px;
  background: #4679BC;
  border: 1.14209px solid #486284;
  border-radius: 57.1047px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.AgreeDiv{
  display: flex;
  align-self: baseline;
  padding: 0px;
  gap: 18.27px;
  width: 298.09px;
  height: 22px;
}
.AgreeDiv label{
  width: 210px;
  height: 22px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.AgreeDiv label a{
  color: #4679BC;
  text-decoration: none;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border-bottom: solid 1px #4679BC;
}

.AgreeDiv label a:link {
  text-decoration: none;
}

.AgreeDiv label a:visited {
  text-decoration: none;
}

.AgreeDiv input{
  width: 19.42px;
height: 19.42px;
border: 1px solid #fff;
padding: 0.5em;

}

input[type="checkbox"]:checked {
  accent-color: var(--imviBlue);
}



/* --------------------------------------------------   */

/* CSS FÖR TEXT RUTAN SAMT STOPPKNAPPEN VID START AV TEST */
.test {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.readingTextDiv {
  padding: 32px;
  gap: 32px;
  width: fit-content;
  height: 100%;
  margin-top: 1%;
}

.readingText {
  width: 700px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(28, 28, 28, 0.8);
}

.stop-buttonDiv{
  text-align: center;
  margin-bottom: 5%;
}

.stop-button {
  box-sizing: border-box;
  padding: 12px 20px;
  gap: 10px;
  width: 513px;
  height: 48px;
  background: #4679BC;
  border: 1px solid #486284;
  border-radius: 50px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}



/* CSS FÖR FRÅGOR FORMULÄRET FRÅN TEXTEN */
.questionsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 770px;
  height: 1031px;
  overflow: scroll;
}

.questionsContainerHeader{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px;
  gap: 8px;
  text-align: left;
  margin-top: 5%;
}

.questionsContainerHeader p{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(28, 28, 28, 0.8);
}

.questionsContainerHeader h1{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #1C1C1C;
}

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.question-form .questions {
  padding: 4%;
  margin-top: 2%;
  border-radius: 5px;
  width: 100%;
  background: #E5EEFA;
}

.question-form .questions p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel input[type="radio"] {
  margin-right: 5%;
}

.question-form .questions .questionsRadioAndLabel label {
  font-size: 16px;
}

.question-form .submitQuestions {
  padding: 16px 113px;
  width: 770px;
  height: 48px;
  background: #4679BC;
  margin-top: 7%;
  border-radius: 50px;
  margin-bottom: 10%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  border: none;
  color: #FFFFFF;
}


/* CSS FÖR STATISTIK RUTAN VID SLUTET AV TESTET */

.statisticsDiv {
  width: 564px;
  height: 568px;
}

.statisticsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80%;
  min-width: 50%;
  overflow: scroll;
  border-radius: 10px;
}

.testStatistics {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 564px;
  width: 100%;
  margin-bottom: 2%;
  
}

.statisticsRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.8796px 0px;
  gap: 19.85px;
  width: 272px;
  height: 233px;
  left: calc(50% - 272px/2 - 146px);
  top: calc(50% - 233px/2 - 167.5px);
  background: #FFFFFF;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 5%;

}

.statisticsValueWPM {
  padding: 8.73376px 9.52773px;
  background: #E5EEFA;
  border-radius: 31.7591px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: #222222;
}

.statisticsValueWPMCOMPREHENSION {
  padding: 8.73376px 9.52773px;
  background: #E5EEFA;
  border-radius: 31.7591px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: #222222;
}

.statisticsRow div{
  gap: 19.85px;
  margin-left: 5%;
  
}

.statisticsRow .statisticsInfo1 h2{
  margin-bottom: 10%;
  
}

.statisticsInfo1 h1{
  text-align: center;
}

.statisticsRow .statisticsInfo1 p{
  margin-top: 10%;
  
}



.statisticsRow h2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.396989px;
  color: #363940;
}

.statisticsRow p{
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
color: #222222;
}

.statisticsFunFactHeader{
  display: flex;
  width: 100%;
  height: 33px;
  margin-bottom: 5%;
  align-items: center;
}

.statisticsFunFactHeader div{
  width: 130.02px;
  height: 33.11px;
  background: #E5EEFA;
  border: 1px solid rgba(96, 96, 96, 0.51);
  border-radius: 8px;
  text-align: left;
  
}

.statisticsFunFactHeader label{
  width: 58px;
  height: 20px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  margin-left: 8px;
}

.SpeakerIcon{
  width: 25px;
  height: 17.61px;
  margin-left: 5px;
  vertical-align: middle;
}

.statisticsFunFact {
  width: 567px;
  height: 78px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.statisticsFunFact h2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #606060;
}


.restartButtonDiv{
width: 564px;
height: 48px;

}

.restartTestButton{
  background: #4679BC;
  box-shadow: 1px 8px 16px rgba(70, 121, 188, 0.16);
  border-radius: 50px;
  padding: 8px 113px;
  width: 100%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  border: none;
}

.registerButtonDiv{
  width: 564px;
  height: 39px;
  margin-top: 5%;
  text-align: center;
}

.registerButtonDiv button{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #4679BC;
  border: none;
}

.registerButtonDiv button span{
  color: #606060;
}


/* CSS FÖR SPARA DITT RESULTAT FORMULÄRET */
.form-container {
  background-color: #e2f2f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  border-radius: 5px;
  min-height: 50%;
  max-height: 80%;
  min-width: 75%;
  overflow: scroll;
  padding: 1;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #edf1f3 center/cover;
  margin: 2% 0;
  padding: 2%;
  min-width: 80%;
  min-height: 80%;
  border-radius: 5px;
}

.form input {
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  width: 100%;
}

.form button {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 10px;
}

.form input::placeholder {
  font-size: 18px;
}

.form button:hover {
  transform: scale(105%);
}

.CANCEL-FORM-BUTTON {
  background-color: #d90429;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-self: flex-end;
  margin-top: 10px;
}

.SAVE-RESULT-BUTTON {
  background-color: #4379b8;
  background-image: linear-gradient(-180deg, #37aee2 0%, #4379b8 100%);
}

.form-submitted-message {
  font-size: 18px;
  color: green;
  background-color: rgb(236, 242, 248);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/* RESPONSIVE CSS */

/*IPHONE SE */
@media only screen and (max-width: 400px) and (max-height: 700px) {
  .level-selector div {
    padding: 0%;
  }
}

/*Extra small devices */
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    height: 75vh;
    width: 100vw;
    place-items: center;
    backdrop-filter: blur(10px);
  }

  .reading-box {
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    position: relative;
    background-color: rgb(236, 242, 248);
    box-sizing: border-box;
    border-radius: 10px;
    
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateZ(10px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .readingText {
    width: 85%;
    font-size: 14px;
  }

  .readingTextDiv .stop-button {
    width: 20%;
    font-size: 14px;
  }

  /* CSS FÖR FRÅGOR VID START AV PROGRAM */
  .intro-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .intro-questions label {
    margin-top: 10%;
    margin-bottom: 10px;
    color: #4379b8;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    margin-left: -10px; /* move button to the left by 10px */
  }

  .intro-questions .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: Poppins;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    font-style: normal;
  }

  .panel p {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    cursor: pointer;
    border-radius: 1rem;
    color: #4379b8;
    box-sizing: border-box;
    font-size: 0.7em;
    padding: 2%;
  }

  .panel p:hover {
    transition: 0.7s;
    background-color: #37aee2;
    color: white;
  }

  .intro-questions .start-button {
    margin-top: 30px;
    width: 30%;
  }

  /* CSS FOR THE QUESTION FORM FROM THE TEXT */
  .question-form {
    background-color: rgb(236, 242, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 5px;
    min-height: 80%;
    min-width: 50%;
    overflow: scroll;
  }

  .question-form {
    width: 100%;
    min-width: unset;
  }

  .question-form .questions {
    background: rgb(236, 242, 248) center/cover;
    margin: 2% 0;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }

  .question-form .questions {
    width: 100%;
  }

  .question-form .questions p {
    background: rgb(236, 242, 248);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
  }

  .question-form .questions .questionsRadioAndLabel {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }

  .question-form .questions .questionsRadioAndLabel input[type="radio"] {
    margin-right: 5%;
  }

  .question-form .questions .questionsRadioAndLabel label {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  /* CSS FOR THE STATISTICS BOX AT THE END OF THE TEST */
  h2 {
    font-size: 20px;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    background: rgb(236, 242, 248);
  }

  .statisticsValueWPM {
    font-weight: bold;
    font-size: 1em;
    margin: 1.5%;
  }

  .statisticsValueWPMCOMPREHENSION {
    font-weight: bold;
    font-size: 1em;
  }

  .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testStatistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .statisticsRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
  }

  .statisticsDiv {
    width: 100%;
  }

  .statisticsValue {
    text-align: center;
  }

  .statisticsInfo {
    text-align: center;
    margin: 15px 0;
  }

  .statisticsFunFact {
    text-align: center;
    margin: 25px 0;
  }

  .SaveOrRestartButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
  }


  .SaveOrRestartButtonsDiv .first-button {
    font-size: 12px;
    padding: 3%;
  }

  .SaveOrRestartButtonsDiv .second-button {
    margin-left: 10%;
    padding: 3%;
    font-size: 12px;
  }

  /* CSS FÖR LEVEL SELECTOR / AGE CONTAINER */

  .level-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .level-selector .start-button {
    margin-bottom: 5%;
  }

  .level-selector div {
    padding: 0%;
    margin: 6%;
  }

  .start-button {
    width: 80%;
    padding: 2%;
    margin-bottom: 10%;
  }

  .level {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.2em;
    margin-right: 5%;
  }

  .age-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  input[type="number"] {
    width: 80%;
  }

  .start-button {
    width: 80%;
  }

  .info-tooltip {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 45%;
    height: 50%;
    left: 85%;
    transition: opacity 0.3s;
    align-items: baseline;
    height: 10%;
  }

  .info-tooltip label {
    font-size: 12px;
    width: 100%;
  }

  .age-container:hover .info-tooltip {
    visibility: visible;
    color: black;
    opacity: 0.8;
  }

  .info-tooltip::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4379b8 transparent transparent transparent;
  }
}

/*Small devices */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    display: grid;
    height: 75vh;
    width: 100vw;
    place-items: center;
    backdrop-filter: blur(10px);
  }

  .reading-box {
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    position: relative;
    background-color: rgb(236, 242, 248);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgb(236 242 248 / 0%) 0px 0px 0px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateZ(10px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .readingText {
    width: 85%;
    font-size: 18px;
  }

  .readingTextDiv .stop-button {
    width: 20%;
    font-size: 14px;
  }

  .intro-questions label {
    margin-bottom: 10px;
    color: #4379b8;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
  }

  /* CSS FOR THE QUESTION FORM FROM THE TEXT */
  .question-form {
    background-color: rgb(236, 242, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 5px;
    min-height: 80%;
    min-width: 50%;
    overflow: scroll;
  }

  .question-form {
    width: 100%;
    min-width: unset;
  }

  .question-form .questions {
    background: rgb(236, 242, 248) center/cover;
    margin: 2% 0;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }

  .question-form .questions {
    width: 100%;
  }

  .question-form .questions p {
    background: rgb(236, 242, 248);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
  }

  .question-form .questions .questionsRadioAndLabel {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }

  .question-form .questions .questionsRadioAndLabel input[type="radio"] {
    margin-right: 5%;
  }

  .question-form .questions .questionsRadioAndLabel label {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  /* CSS FOR THE STATISTICS BOX AT THE END OF THE TEST */
  h2 {
    font-size: 20px;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    background: rgb(236, 242, 248);
  }

  .statisticsValueWPM {
    font-weight: bold;
    font-size: 1em;
    margin: 1.5%;
  }

  .statisticsValueWPMCOMPREHENSION {
    font-weight: bold;
    font-size: 1em;
  }

  .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testStatistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 2%;
  }

  .statisticsRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
  }

  .statisticsValue {
    text-align: center;
  }

  .statisticsInfo {
    text-align: center;
    margin: 5px 0;
  }

  .statisticsFunFact {
    text-align: center;
    margin: 30px 0;
  }

  .SaveOrRestartButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }

  .SaveOrRestartButtonsDiv .first-button {
    font-size: 12px;
  }

  .SaveOrRestartButtonsDiv .second-button {
    font-size: 12px;
  }

  /* CSS FÖR LEVEL SELECTOR / AGE CONTAINER */

  .level-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .level-selector div {
    padding: 0%;
    margin: 6%;
  }

  .start-button {
    width: 80%;
    padding: 2%;
    margin-bottom: 10%;
  }

  .level {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.2em;
    margin-right: 5%;
  }

  .age-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
  }

  input[type="number"] {
    width: 50%;
  }

  .SaveOrRestartButtonsDiv button {
    font-size: 0.8em;
    width: 40%;
  }
  .info-tooltip {
    visibility: hidden;
    text-align: center;
    position: absolute;
    bottom: 75%;
    height: 50%;
    left: 10%;
    transition: opacity 0.3s;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .info-tooltip label {
    font-size: 12px;
    width: 100%;
  }

  .age-container:hover .info-tooltip {
    visibility: visible;
    color: black;
    opacity: 0.7;
  }

  .info-tooltip::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4379b8 transparent transparent transparent;
  }

  .level-selector div input {
    width: 30vw;
    height: 8vh;
    font-size: 1em;
    padding: 1rem;
  }

  /*Landscape tablets devices */
  @media only screen and (min-width: 768px) and (max-width: 1100px) {
    .container {
      display: grid;
      height: 75vh;
      width: 100vw;
      place-items: center;
      backdrop-filter: blur(10px);
    }

    .reading-box {
      min-width: 100%;
      max-width: 100%;
      font-size: 16px;
      position: relative;
      background-color: rgb(236, 242, 248);
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      transform: translateZ(10px);
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .readingText {
      width: 85%;
      font-size: 18px;
    }

    .readingTextDiv .stop-button {
      width: 20%;
      font-size: 14px;
    }

    .intro-questions label {
      margin-bottom: 10px;
      color: #4379b8;
      font-weight: 600;
      font-size: 26px;
      letter-spacing: 1px;
      text-decoration: none;
      text-align: center;
    }

    /* CSS FOR THE QUESTION FORM FROM THE TEXT */
    .question-form {
      background-color: rgb(236, 242, 248);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2%;
      border-radius: 5px;
      min-height: 80%;
      min-width: 50%;
      overflow: scroll;
    }

    .question-form {
      width: 100%;
      min-width: unset;
    }

    .question-form .questions {
      background: rgb(236, 242, 248) center/cover;
      margin: 2% 0;
      padding: 2%;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 80%;
    }

    .question-form .questions {
      width: 100%;
    }

    .question-form .questions p {
      background: rgb(236, 242, 248);
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5%;
    }

    .question-form .questions .questionsRadioAndLabel {
      display: flex;
      align-items: center;
      margin-bottom: 5%;
    }

    .question-form .questions .questionsRadioAndLabel input[type="radio"] {
      margin-right: 5%;
    }

    .question-form .questions .questionsRadioAndLabel label {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }

    /* CSS FOR THE STATISTICS BOX AT THE END OF THE TEST */
    h2 {
      font-size: 20px;
      font-weight: 400;
      font-size: 0.9rem;
      text-align: center;
      background: rgb(236, 242, 248);
    }
    .statisticsDiv {
      width: 100%;
    }

    .statisticsValueWPM {
      font-weight: bold;
      font-size: 1em;
      margin: 1.5%;
    }

    .statisticsValueWPMCOMPREHENSION {
      font-weight: bold;
      font-size: 1em;
    }

    .statisticsContent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .testStatistics {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 2%;
    }

    .statisticsRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 25px 0;
    }

    .statisticsValue {
      text-align: center;
    }

    .statisticsInfo {
      text-align: center;
      margin: 5px 0;
    }

    .statisticsFunFact {
      text-align: center;
      margin: 30px 0;
    }

    .SaveOrRestartButtonsDiv {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 30px;
    }

    .SaveOrRestartButtonsDiv .first-button {
      font-size: 12px;
    }

    .SaveOrRestartButtonsDiv .second-button {
      font-size: 12px;
    }

    /* CSS FÖR LEVEL SELECTOR / AGE CONTAINER */

    .level-selector {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .level-selector div {
      padding: 0%;
      margin: 6%;
    }

    .start-button {
      width: 80%;
      padding: 2%;
      margin-bottom: 10%;
    }

    .level {
      width: 80%;
      padding: 10px;
      margin-top: 15px;
      font-size: 1.2em;
      margin-right: 5%;
    }

    .age-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    input[type="number"] {
      width: 100%;
      padding: 10px;
      margin: 10px;
      font-size: 1.2em;
    }

    input[type="number"] {
      width: 50%;
    }

    .SaveOrRestartButtonsDiv button {
      font-size: 0.8em;
      width: 40%;
    }
    .info-tooltip {
      visibility: hidden;
      text-align: center;
      position: absolute;
      bottom: 75%;
      height: 50%;
      left: 10%;
      transition: opacity 0.3s;
      align-self: center;
      justify-self: center;
      text-align: center;
    }

    .info-tooltip label {
      font-size: 12px;
      width: 100%;
    }

    .age-container:hover .info-tooltip {
      visibility: visible;
      color: black;
      opacity: 0.7;
    }

    .info-tooltip::after {
      content: "";
      position: absolute;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #4379b8 transparent transparent transparent;
    }
  }
}

/*IPADS */
@media only screen and (min-device-width: 750px) and (max-device-width: 1024px) {
  .container {
    display: grid;
    height: 75vh;
    width: 100vw;
    place-items: center;
    backdrop-filter: blur(10px);
  }

  .reading-box {
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    position: relative;
    background-color: rgb(236, 242, 248);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgb(236 242 248 / 0%) 0px 0px 0px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateZ(10px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .readingText {
    width: 85%;
    font-size: 18px;
  }

  .readingTextDiv .stop-button {
    width: 20%;
    font-size: 14px;
  }

  /* CSS FOR INTROQUESTIONS */
  .intro-questions label {
    margin-top: 10%;
    color: #4379b8;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
  }

  .panel p {
    margin: 5%;
    padding: 1.5%;
  }

  .panel {
    margin-bottom: 5%;
  }

  /* CSS FOR THE QUESTION FORM FROM THE TEXT */
  .question-form {
    background-color: rgb(236, 242, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border-radius: 5px;
    min-height: 80%;
    min-width: 50%;
    overflow: scroll;
  }

  .question-form {
    width: 100%;
    min-width: unset;
  }

  .question-form .questions {
    background: rgb(236, 242, 248) center/cover;
    margin: 2% 0;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }

  .question-form .questions {
    width: 100%;
  }

  .question-form .questions p {
    background: rgb(236, 242, 248);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
  }

  .question-form .questions .questionsRadioAndLabel {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
  }

  .question-form .questions .questionsRadioAndLabel input[type="radio"] {
    margin-right: 5%;
  }

  .question-form .questions .questionsRadioAndLabel label {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  /* CSS FOR THE STATISTICS BOX AT THE END OF THE TEST */
  h2 {
    font-size: 20px;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
    background: rgb(236, 242, 248);
  }

  .statisticsValueWPM {
    font-weight: bold;
    font-size: 1.5em;
    margin: 1.5%;
  }

  .statisticsValueWPMCOMPREHENSION {
    font-weight: bold;
    font-size: 1.5em;
  }

  .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .statisticsDiv {
    width: 100%;
  }

  .testStatistics {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5%;
  }

  .statisticsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
  }

  .statisticsValue {
    text-align: center;
    font-size: 1.1em;
    margin: 4%;
  }

  .statisticsInfo {
    text-align: center;
    margin: 3%;
  }

  .statisticsFunFact {
    text-align: center;
    margin: 30px 0;
  }

  .SaveOrRestartButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }

  .SaveOrRestartButtonsDiv .first-button {
    font-size: 15px;
  }

  .SaveOrRestartButtonsDiv .second-button {
    font-size: 15px;
  }

  /* CSS FÖR LEVEL SELECTOR / AGE CONTAINER */

  .level-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .level-selector div {
    padding: 0%;
    margin: 15%;
  }

  .start-button {
    width: 80%;
    padding: 3%;
    margin-bottom: 10%;
  }

  .level {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.2em;
    margin-right: 5%;
  }

  .age-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
  }

  input[type="number"] {
    width: 50%;
  }

  .SaveOrRestartButtonsDiv button {
    font-size: 0.8em;
    width: 40%;
  }
  .info-tooltip {
    visibility: hidden;
    text-align: center;
    position: absolute;
    bottom: 75%;
    height: 50%;
    left: 10%;
    transition: opacity 0.3s;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .info-tooltip label {
    font-size: 12px;
    width: 100%;
  }

  .age-container:hover .info-tooltip {
    visibility: visible;
    color: black;
    opacity: 0.7;
  }

  .info-tooltip::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4379b8 transparent transparent transparent;
  }
}

/*Landscape tablets devices */
@media only screen and (min-width:768px) and (max-width:1100px){
  .container {
    display: grid;
    height: 75vh;
    width: 100vw;
    place-items:  center;  
    backdrop-filter: blur(10px);
    
  }

  .reading-box {
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    position: relative;
    background-color: rgb(236, 242, 248);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transform: translateZ(10px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .readingText {
    width: 85%;
    font-size: 18px;
  }

  .readingTextDiv .stop-button {
    width: 20%;
    font-size: 14px;
  }


.intro-questions label {
  margin-bottom: 10px;
  color: #4379B8;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

/* CSS FOR THE QUESTION FORM FROM THE TEXT */
.question-form {
  background-color: rgb(236, 242, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
  min-height:80%;
  min-width:50%;
  overflow: scroll;
}

.question-form {
  width: 100%;
  min-width: unset;
}

.question-form .questions {
  background: rgb(236, 242, 248) center/cover;
  margin: 2% 0;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

.question-form .questions {
  width: 100%;
}


.question-form .questions p {
  background: rgb(236, 242, 248);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel input[type="radio"] {
  margin-right: 5%;
}

.question-form .questions .questionsRadioAndLabel label {
  font-size: 16px;
}

p{
  font-size: 16px;
}


/* CSS FOR THE STATISTICS BOX AT THE END OF THE TEST */
h2 {
  font-size: 20px;
  font-weight: 400;
  font-size: .9rem;
  text-align: center;
  background: rgb(236, 242, 248);

}
.statisticsDiv{
  width: 100%;
}

.statisticsValueWPM{
  font-weight: bold;
  font-size: 1em;
  margin: 1.5%;
}

.statisticsValueWPMCOMPREHENSION{
  font-weight: bold;
  font-size: 1em;
}

.statisticsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testStatistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 2%;
}

.statisticsRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.statisticsValue {
  text-align: center;
}

.statisticsInfo {
  text-align: center;
  margin: 5px 0;
}

.statisticsFunFact {
  text-align: center;
  margin: 30px 0;
}

.SaveOrRestartButtonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.SaveOrRestartButtonsDiv .first-button{
  font-size: 12px;
}

.SaveOrRestartButtonsDiv .second-button{
  font-size: 12px;
}

/* CSS FÖR LEVEL SELECTOR / AGE CONTAINER */

.level-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}

.level-selector div {
padding: 0%;
margin: 6%;
}

.start-button {
  width: 80%;
  padding: 2%;
  margin-bottom: 10%;
}

.level {
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  font-size: 1.2em;
  margin-right: 5%;
}

.age-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
}

input[type="number"] {
  width: 50%;
}

.SaveOrRestartButtonsDiv button{
  font-size: .8em;
  width: 40%;
}
.info-tooltip {
  visibility: hidden;
  text-align: center;
  position: absolute;
  bottom: 75%;
  height: 50%;
  left: 10%;
  transition: opacity 0.3s;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.info-tooltip label{
  font-size: 12px;
  width: 100%;
}

.age-container:hover .info-tooltip {
  visibility: visible;
  color: black;
  opacity: .7;
}

.info-tooltip::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4379b8 transparent transparent transparent;
}


}

/*IPADS */
@media only screen and (min-device-width: 750px) and (max-device-width : 1024px){
  .container {
    display: grid;
    height: 75vh;
    width: 100vw;
    place-items:  center;  
    backdrop-filter: blur(10px);
    
  }

  .reading-box {
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    position: relative;
    background-color: rgb(236, 242, 248);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transform: translateZ(10px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .readingText {
    width: 85%;
    font-size: 18px;
  }

  .readingTextDiv .stop-button {
    width: 20%;
    font-size: 14px;
  }

/* CSS FOR INTROQUESTIONS */
.intro-questions label {
  margin-top: 10%;
  color: #4379B8;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

.panel p{
  margin: 5%;
  padding: 1.5%;
}

.panel{
  margin-bottom: 5%;
}

/* CSS FOR THE QUESTION FORM FROM THE TEXT */
.question-form {
  background-color: rgb(236, 242, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
  min-height:80%;
  min-width:50%;
  overflow: scroll;
}

.question-form {
  width: 100%;
  min-width: unset;
}

.question-form .questions {
  background: rgb(236, 242, 248) center/cover;
  margin: 2% 0;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

.question-form .questions {
  width: 100%;
}


.question-form .questions p {
  background: rgb(236, 242, 248);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel input[type="radio"] {
  margin-right: 5%;
}

.question-form .questions .questionsRadioAndLabel label {
  font-size: 16px;
}

p{
  font-size: 16px;
}


/* CSS FOR THE STATISTICS BOX AT THE END OF THE TEST */
h2 {
  font-size: 20px;
  font-weight: 400;
  font-size: .9rem;
  text-align: center;
  background: rgb(236, 242, 248);

}

.statisticsValueWPM{
  font-weight: bold;
  font-size: 1.5em;
  margin: 1.5%;
}

.statisticsValueWPMCOMPREHENSION{
  font-weight: bold;
  font-size: 1.5em;
}

.statisticsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statisticsDiv{
  width: 100%;
}

.testStatistics {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5%;
}

.statisticsRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.statisticsValue {
  text-align: center;
  font-size: 1.1em;
  margin: 4%;
}

.statisticsInfo {
  text-align: center;
  margin: 3%;
}

.statisticsFunFact {
  text-align: center;
  margin: 30px 0;
}

.SaveOrRestartButtonsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.SaveOrRestartButtonsDiv .first-button{
  font-size: 15px;
}

.SaveOrRestartButtonsDiv .second-button{
  font-size: 15px;
}

/* CSS FÖR LEVEL SELECTOR / AGE CONTAINER */

.level-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}

.level-selector div {
padding: 0%;
margin: 15%;
}

.start-button {
  width: 80%;
  padding: 3%;
  margin-bottom: 10%;
}

.level {
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  font-size: 1.2em;
  margin-right: 5%;
}

.age-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
}

input[type="number"] {
  width: 50%;
}

.SaveOrRestartButtonsDiv button{
  font-size: .8em;
  width: 40%;
}
.info-tooltip {
  visibility: hidden;
  text-align: center;
  position: absolute;
  bottom: 75%;
  height: 50%;
  left: 10%;
  transition: opacity 0.3s;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.info-tooltip label{
  font-size: 12px;
  width: 100%;
}

.age-container:hover .info-tooltip {
  visibility: visible;
  color: black;
  opacity: .7;
}

.info-tooltip::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4379b8 transparent transparent transparent;
}


}

/*Large devices laptops/desktops devices */

@media only screen and (min-width: 992px) {
}

/*Extra Large devices laptops/desktops devices */
@media only screen and (min-width: 1200px) {
}
