*{
  font-family: Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.container {
  display: grid;
  height: 75vh;
  width: 100vw;
  place-items:  center;
}

/* CSS FÖR "LÄSRUTAN" DÄR ALL TEXT,FRÅGOR VISAS */

.reading-box {
  position: relative;
  background-color: rgb(236, 242, 248);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgb(236 242 248 / 0%) 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;
  min-height: 70%;
  max-height: 90%;
  font-size: 20px;

  
  }

  .reading-box div{
    flex-grow: 1;
    background-color: rgb(236, 242, 248);
  }

  .reading-box label {
    background-color: rgb(236, 242, 248);
  }

  .reading-box .button {
    background-color: rgb(236, 242, 248);
  }




/* CSS FÖR TIMERN */
.countdown-child3{
  background-color: rgb(236, 242, 248);
  font-size: 8rem;
  font-weight: 700;
  transform: translate(-50%, -50%);
  animation: fadeIn infinite 3s;
  animation-delay: 0s;
  color: black;
}
.countdown-child2{
  background-color: rgb(236, 242, 248);
  font-size: 8rem;
  font-weight: 700;
  transform: translate(-50%, -50%);
  animation: fadeIn infinite 3s;
  animation-delay: 1s;
  color: black;
}
.countdown-child1{
  background-color: rgb(236, 242, 248);
  font-size: 8rem;
  font-weight: 700;
  transform: translate(-50%, -50%);
  animation: fadeIn infinite 3s;
  animation-delay: 0s;
  color: black;
}



 /* CSS FÖR TEXT RUTAN SAMT STOPPKNAPPEN VID START AV TEST */

  .readingTextDiv {
    display: flex; /* use flex layout */
    align-items: center; /* center items vertically */
    justify-content: center; /* center items horizontally */
    flex-direction: column;
    flex-wrap: wrap;
    min-height:80%;
    min-width:50%;
    animation: zoomIn; 
    animation-duration: .5s; 
  }

  .readingText {
    background-color: rgb(236, 242, 248);
    width: 65%;
    border-radius: 0.5rem;
    font-size: 22px;
    text-shadow:0 0 1px transparent;
    line-height: 1.4em;
    overflow:scroll;
  }

  .readingTextDiv .stop-button {
    margin-top: 2%;
    width: 10%;
    font-size: 16px;
  }

 /* CSS FÖR VÄLJA NIVÅ SAMT ÅLDER FÖR TESTET */
  .level-selector {
    background-color: rgb(236, 242, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    max-width: 50%;
    min-height: 50%;
    animation:  zoomIn; 
    animation-duration: .5s;  
    
  }
  
  .level-selector div {
    background-color: rgb(236, 242, 248);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 80%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: #FFFFFF;
    border-radius: .5rem;
    padding: 3rem 1.75rem;
    font-weight: 500;
  }
  
  .level-selector div input{
    background-color: rgb(236, 242, 248);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    border-radius: .5rem;
    border: solid 1px #4379b8;
    padding: 3rem 1.75rem;
  }
  
  .age-container {
    position: relative;
  }
  
  .info-tooltip {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 77%;
    height: 5%;
    left: 10%;
    transition: opacity 0.3s;
  }
  
  .age-container:hover .info-tooltip {
    visibility: visible;
    color: black;
    opacity: 1;
  }
  
  .info-tooltip::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4379b8 transparent transparent transparent;
  }



/* CSS FÖR FRÅGOR VID START AV PROGRAM */

.intro-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation:  zoomIn; 
  animation-duration: 1s; 
}

.intro-questions label{
  margin-top: 15%;

}


.intro-questions .panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  font-style: normal;
}



.panel p {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  cursor: pointer; 
  border-radius: 1rem;
  color: #4379B8;
  box-sizing: border-box;

}

.panel p:hover {
  background-color: rgb(123, 173, 231);
  color: white;
}

.panel p.selected {
  background-color: rgb(123, 173, 231);
  color: white;
}

.intro-questions .start-button {
  margin-top: 30px;
  width: 30%;
  
}

.intro-questions label {
  margin-bottom: 10px;
  color: #4379B8;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}


/* CSS FÖR FRÅGOR FORMULÄRET */


.question-form {
  background-color: rgb(236, 242, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
  min-height:80%;
  min-width:50%;
  overflow: scroll;
  animation:  zoomIn; 
  animation-duration: .5s; 
}

.question-form .questions {
  background: rgb(236, 242, 248) center/cover;
  margin: 2% 0;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}


.question-form .questions p {
  background: rgb(236, 242, 248);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel input[type="radio"] {
  margin-right: 5%;
}

.question-form .questions .questionsRadioAndLabel label {
  font-size: 16px;
}




/* CSS FÖR STATISTIK RUTAN VID SLUTET AV TESTET */

.statisticsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:80%;
  min-width:50%;
  overflow: scroll;
  padding: 20px;
  background-color: rgb(236, 242, 248);
  border-radius: 10px;
  animation:  zoomIn; 
  animation-duration: .5s; 
}

.statisticsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(236, 242, 248);
}


.statisticsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgb(236, 242, 248);
}

.statisticsValue {
  font-weight: bold;
  background-color: rgb(236, 242, 248);
}



/* CSS FÖR KNAPPAR */

.start-button {
  background-color: #4379b8;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #4379b8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem 1.75rem;
  text-decoration: none;
  width: 74%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.5s ease-in-out;
}

.start-button:hover {
  transform: scale(1.1);
}

.stop-button {
  background-color: #4379b8;
  background-image: linear-gradient(-180deg, #f75151 0%, #b843439f 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
}

.restart-button {
  background-color: #4379b8;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #4379b8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 5%;
  animation: rollIn; 
  animation-duration: .7s; 
  
}

.restart-button:hover {
  transform: scale(1.1);
}

.question-form .submitQuestions {
  background-color: #4379b8;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #4379b8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  padding: 1rem 1.75rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.question-form .submitQuestions:hover {
  transform: scale(1.1);
}


















/* RESPONSIVE CSS */

@media only screen and (max-width: 600px) {




/* CSS FÖR LEVEL / AGE SELECTOR */
  .start-button {
    width: 30vw;
    margin: auto;
    text-align: center;
    margin-left: -10px; /* move button to the left by 10px */
}

  .level-selector {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }


  .info-tooltip {
      visibility: hidden;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      bottom: 77%;
      height: 5%;
      left: 10%;
      transition: opacity 0.3s;
  }

.level-selector div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.age-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .age-container:hover .info-tooltip {
      visibility: visible;
      color: black;
      opacity: 1;
  }
  .info-tooltip::after {
      content: "";
      position: absolute;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #4379b8 transparent transparent transparent;
  }


.level-selector div input{
  width: 30vw;
  height: 8vh;
  font-size: 1em;
  padding: 1rem;
}


input::placeholder {
  font-size: 14px;
  color: #4379b8;
}


.reading-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.readingTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:80%;
  min-width:50%;
  animation: zoomIn; 
  animation-duration: .5s; 
}

.readingText {
  background-color: rgb(236, 242, 248);
  width: 65%;
  border-radius: 0.5rem;
  font-size: 22px;
  text-shadow:0 0 1px transparent;
  line-height: 1.4em;
  overflow:scroll;
  width: 100%; 
  animation:  zoomIn; 
  animation-duration: .5s; 
}

.readingTextDiv .stop-button {
  margin: auto; 
  width: 10%;
  font-size: 16px;
  box-shadow: 0px 0px 0px 10px rgb(236, 242, 248);
}


}






