@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

:root{
  --imviBlue: #4679bc;
  --navy: #1A3F71;
  --lightestBlue: #ECF2FB;
  --mainBlack: #1c1c1c;
  --darkGrey: #707070;
  --mutedBerry: #BC4679;
  --green: #5A9D26;
  --red: #D20000;
  --lightGrey: #E8E8E8;
  --offWhite: #F9F9F9;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  height: 90vh;
  width: 100vw;
  place-items: center;
  backdrop-filter: blur(10px);
  background: #F5F5F5;
}

/* CSS FÖR "LÄSRUTAN" DÄR ALL TEXT,FRÅGOR VISAS */
.reading-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  font-size: 20px;
  background: #F5F5F5;
  overflow: auto;
}

/* CSS FÖR VÄLKOMST SIDAN */
.welcomePageContainer{
  position: absolute;
  width: 418px;
  height: 500px;
  Left: 100px;
}

.welcomeTextHeader{
  width: 276px;
  height: 85.33px;
}

.welcomeText1 {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: lighter;
  font-size: 28px;
  line-height: 41px;
  color: #1C1C1C;
  width: 276px;
  height: 41px;
}

.welcomeText2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #1C1C1C;
  width: 265px;
  height: 44px;
}

.welcomePageDiv2{
  margin-top: 2%;
  width: 399px;
  height: 139px;
}

.welcomePageDiv2 p{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #606060;
  margin-top: 2%;
}

.checkBoxDiv{
  margin-top: 5%;
  width: 330px;
  height: 116px;
}

.checkBoxDiv div{
  display: flex;
  margin-top: 1%;
  align-items: center;
  gap: 10px;
}

.checkBoxDiv div p{
  margin-left: 1%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 32px;
  color:#486284;
}

.welcomePageDiv3{
width: 405px;
height: 40px; 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #606060;
margin-top: 1%;
}

.welcomePageButtonsDiv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 412px;
  height: 48px;
}

.RegisterGuestDiv{
 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
}

.readingImg{
position: absolute;
width: 508px;
Top: 40px;
left: 672px
}

.registerButton{
padding: 12px 20px;
gap: 10px;
width: 190px;
height: 48px;
background: #4679BC;
border: 1px solid #486284;
border-radius: 50px;
font-family: 'Avenir';
font-style: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

.guestButton{
  padding: 12px 20px;
  gap: 10px;
  width: 190px;
  height: 48px;
  border: 1px solid #4679BC;
  border-radius: 50px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #4679BC;
}

.AlreadyRegisterdDiv{
  width: 300px;
  height: 25px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(28, 28, 28, 0.8);
  margin-top: 4%;
  
}

.AlreadyRegisterdDiv button{
  color: #4679BC;
  border: none;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background: none!important;
  border: none;
  padding: 0!important;
  
}

.readingIcon{
position: absolute;
width: 508px;
height: 470px;
right: 100px;
top: 100px;
}

/* --------------------------------------------------   */

/* RegisterForm   */

  .RegisterLoginContainer {
    width: 418px;
    height: 750px;
  }

  .RegisterHeader{
    width: 415px;
    height: 34px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .RegisterParagraph1{
    width: 418px;
    height: 43px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
    margin-top: 5%;
  }

  .RegisterForm{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 418px;
    height: 291px;
    margin-top: 5%;
  }

  /* Återställ lösenord */
  .RegisterFormDiv{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }

  .RegisterFormDiv2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  
  .RegisterFormDiv2 input{
    box-sizing: border-box;
    align-items: center;
    padding: 15px 16px 15px 25px;
    width: 418px;
    height: 50px;
    background: rgba(255, 255, 255, 1e-05);
    border: 1px solid #4679BC;
    border-radius: 54px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 2%;
  }
  .LoginFormButton2{
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 10px;
    width: 418px;
    height: 48px;
    background: #4679BC;
    border: 1px solid #486284;
    border-radius: 50px;
    color: white;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 5%;
  }
/* ------------------- */


  .RegisterFormDiv input{
    box-sizing: border-box;
    align-items: center;
    padding: 15px 16px 15px 25px;
    width: 418px;
    height: 50px;
    background: rgba(255, 255, 255, 1e-05);
    border: 1px solid #4679BC;
    border-radius: 54px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 2%;
  }

  .RegisterFormDiv label span{
  color: red;
  }

  .RegisterFormDiv label {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
  }

  .RegisterFormCheckBoxParagraph{
    display: flex;
    gap: 15px;
    margin-top: 5%;
  }

  .RegisterFormCheckBoxParagraph input{
    width: 20px;
    height: 20px;
    left: calc(50% - 20px/2 - 199px);
    top: calc(50% - 20px/2 + 163.5px);
    background: #FFFFFF;
    opacity: 0.6;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
  }

  .RegisterFormCheckBoxParagraph p {
    width: 383.59px;
    height: 51px;
    left: calc(50% - 383.59px/2 + 17.2px);
    top: calc(50% - 51px/2 + 176px);
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.6);
  }

  .RegisterFormCheckBoxParagraph p a {
   color: var(--imviBlue);
 
  }

  .RegisterFormButton{
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 10px;
    width: 418px;
    height: 48px;
    background: #4679BC;
    border: 1px solid #486284;
    border-radius: 50px;
    color: white;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  .registerParagraph2{
    margin-top: 5%;
    width: 250px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: rgba(28, 28, 28, 0.8);
  }

  .registerParagraph2 button{
    color: var(--imviBlue);
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }

  /* -------------------------------------------- */

  /* Login Form */
  .LoginContainer{
      position: absolute;
      width: 415px;
      height: 34px;
      top: 100px;
  }



  .LoginFormButton{
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 10px;
    width: 418px;
    height: 48px;
    background: #4679BC;
    border: 1px solid #486284;
    border-radius: 50px;
    color: white;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 5%;
  }

  .LoginParagraph2{
    margin-top: 2%;
    width: 250px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: rgba(28, 28, 28, 0.8);
    
  }

  .LoginParagraph2Div{
    display: flex;
    gap: 5%;
    width: 350px;
  }

  .LoginParagraph2 button{
    color: var(--imviBlue);
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }

  .error-message{
    margin-top: 3%;
    margin-left: 2%;
    font-size: 14px;
    color: red;
  }


  .ErrorMessage{
    margin-bottom: 3%;
    font-size: 14px;
    color: red;
  }

/* --------------------------------------------------   */

/* CSS FÖR LEVEL SELECTOR OCH VEM SOM GÖR TESTET   */

.level-selector{
  display: flex;
  flex-direction: column;
  width: 394px;
  height: 581.38px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
}

.panel {
  width: 394px;
  height: 148px;
  display: flex;
  flex-direction: column;
}

.panelLabelDiv{
  margin-bottom: 5%;
}

.panelLabel{
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 120%;
color: #1C1C1C;

}

.panel input[type="radio"] {
  width: 27.41px;
  height: 27.41px;
}

.panel input[type="radio"]:checked {
  accent-color: #4679BC;
}

.panel1, .panel2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 18.27px;
  margin-bottom: 4%;
}

.panel1 label{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #666666;
}

.panel2 label{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #666666;
}


.level-div .age-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12.56px;
  width: 393px;
  height: 120px;
  
}

.age-container input{
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 15px;
  width: 393px;
  height: 49.11px;
  background: rgba(255, 255, 255, 1e-05);
  border: 1.14209px solid rgba(28, 28, 28, 0.25);
  border-radius: 4.56838px;
}

.age-container label span{
width: 9px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15.9893px;
line-height: 120%;
color: #ED0000;
}

.level-div .level-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 393px;
  
}

.level-container select{
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 8px;
  width: 393px;
  height: 49.11px;
  background: rgba(255, 255, 255, 1e-05);
  border: 1.14209px solid rgba(28, 28, 28, 0.25);
  border-radius: 4.56838px;
  margin-top: 4%;
}

.level-selector .start-button {
  box-sizing: border-box;
  padding: 13.7051px 22.8419px;
  gap: 11.42px;
  width: 393px;
  height: 48px;
  background: #4679BC;
  border: 1.14209px solid #486284;
  border-radius: 57.1047px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.AgreeDiv{
  display: flex;
  align-self: baseline;
  padding: 0px;
  gap: 18.27px;
  width: 298.09px;
  height: 22px;
}
.AgreeDiv label{
  width: 400px;
  height: 22px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.AgreeDiv label a{
  color: #4679BC;
  text-decoration: none;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border-bottom: solid 1px #4679BC;
}

.AgreeDiv label a:link {
  text-decoration: none;
}

.AgreeDiv label a:visited {
  text-decoration: none;
}

.AgreeDiv input{
  width: 19.42px;
height: 19.42px;
border: 1px solid #fff;
padding: 0.5em;

}

input[type="checkbox"]:checked {
  accent-color: var(--imviBlue);
}

/* --------------------------------------------------   */

/* CSS FÖR TEXT RUTAN SAMT STOPPKNAPPEN VID START AV TEST */
.test {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.readingTextDiv {
  padding: 32px;
  gap: 32px;
  width: fit-content;
  
}

.readingText {
  width: 700px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(28, 28, 28, 0.8);
  background: white;
}

.stop-buttonDiv{
  text-align: center;
  margin-top: 5%;
  background-color: white;
}

.stop-button {
  box-sizing: border-box;
  padding: 12px 20px;
  gap: 10px;
  width: 513px;
  height: 48px;
  background: #4679BC;
  border: 1px solid #486284;
  border-radius: 50px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

/* CSS FÖR FRÅGOR FORMULÄRET FRÅN TEXTEN */
.questionsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 770px;
  height: 1031px;
  overflow: scroll;
  justify-content: center;
}

.questionsContainerHeader{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px;
  gap: 8px;
  text-align: left;
  margin-top: 5%;
}

.questionsContainerHeader p{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(28, 28, 28, 0.8);
}

.questionsContainerHeader h1{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #1C1C1C;
}

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.question-form .questions {
  padding: 4%;
  margin-top: 2%;
  border-radius: 5px;
  width: 750px;
  height: 324px;
  background: #E5EEFA;
}

.question-form .questions p {
  font-size: 18px;
  font-weight: 400;
  font: bold;
  margin-bottom: 5%;
  color: #1A3F71;
}

.question-form .questions .questionsRadioAndLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.question-form .questions .questionsRadioAndLabel input[type="radio"] {
  margin-right: 5%;
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.question-form .questions .questionsRadioAndLabel input[type="radio"]:checked {
  accent-color: #4679BC;
}

.question-form .questions .questionsRadioAndLabel label {
  font-size: 16px;
}

.question-form .submitQuestions {
  padding: 16px 113px;
  width: 770px;
  height: 48px;
  background: #4679BC;
  margin-top: 4%;
  border-radius: 50px;
  margin-bottom: 10%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  border: none;
  color: #FFFFFF;
}

/* CSS FÖR STATISTIK RUTAN VID SLUTET AV TESTET */

.statisticsDiv {
  margin-top: 3%;
  width: 564px;
  height: 568px;
}

.statisticsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80%;
  border-radius: 10px;
}

.testStatistics {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 564px;
  width: 100%;
  margin-bottom: 2%;
  
}

.statisticsRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.8796px 0px;
  gap: 19.85px;
  width: 272px;
  height: 233px;
  left: calc(50% - 272px/2 - 146px);
  top: calc(50% - 233px/2 - 167.5px);
  background: #FFFFFF;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 5%;

}

.statisticsValueWPM {
  padding: 8.73376px 9.52773px;
  background: #E5EEFA;
  border-radius: 31.7591px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: #222222;
}

.statisticsValueWPMCOMPREHENSION {
  padding: 8.73376px 9.52773px;
  background: #E5EEFA;
  border-radius: 31.7591px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  color: #222222;
}

.statisticsRow div{
  gap: 19.85px;
  margin-left: 5%;
  
}

.statisticsRow .statisticsInfo1 h2{
  margin-bottom: 10%;
  
}

.statisticsInfo1 h1{
  text-align: center;
}

.statisticsRow .statisticsInfo1 p{
  margin-top: 10%;
  
}

.statisticsRow h2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.396989px;
  color: #222222;
}

.statisticsRow p{
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
color: #222222;
}

.statisticsFunFactHeader{
  display: flex;
  width: 100%;
  height: 33px;
  margin-bottom: 5%;
  align-items: center;
}

.statisticsFunFactHeader div{
  width: 130.02px;
  height: 33.11px;
  background: #E5EEFA;
  border: 1px solid rgba(96, 96, 96, 0.51);
  border-radius: 8px;
  text-align: left;
}

.statisticsFunFactHeader label{
  width: 58px;
  height: 20px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  margin-left: 8px;
}

.SpeakerIcon{
  width: 25px;
  height: 17.61px;
  margin-left: 5px;
  vertical-align: middle;
}

.statisticsFunFact {
  width: 567px;
  height: 78px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.statisticsFunFact h2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #606060;
}

.statisticsFunFact2 {
  width: 567px;
  height: 55px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-top: 5%;
}

.statisticsFunFact2 h2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #606060;
}

.restartButtonDiv{
width: 564px;
height: 48px;
margin-top: 5%;
}

.restartTestButton{
  background: #4679BC;
  box-shadow: 1px 8px 16px rgba(70, 121, 188, 0.16);
  border-radius: 50px;
  padding: 8px 113px;
  width: 100%;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  border: none;
  margin-top: 5%;
}

.registerButtonDiv{
  width: 564px;
  height: 39px;
  margin-top: 5%;
  text-align: center;
  background: #F5F5F5;
}

.registerButtonDiv button{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #4679BC;
  background: #F5F5F5;
  border: none;
}

.registerButtonDiv button span{
  color: #606060;
}


/* CSS FÖR SPARA DITT RESULTAT FORMULÄRET */
.RegisterLoginContainer div .restartTestButton{
  margin-top: 6%;
  background: #F5F5F5;
  padding: 0!important;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  box-shadow: none;
  font-family: sans-serif;
  text-decoration: underline;
}

/* RESPONSIVE CSS */

/* Mobiles */
@media only screen and (max-width: 700px) {
  .readingImg{
    display: none;
  }

  .questionsContainer {
    width: 100vw;
  }

  
  /* CSS FÖR "LÄSRUTAN" DÄR ALL TEXT,FRÅGOR VISAS */
  .reading-box {
    font-size: 20px;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
  }  
  
  /* CSS FÖR VÄLKOMST SIDAN */
  .welcomePageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    position: static;
    overflow-y: scroll;
    align-items: center;
    
  }

  .welcomePageDiv{
    width: 300px;
  }


  .welcomePageDiv2{
    height: auto;
    width: auto;
    margin-top: 8%;
  }
  .welcomePageDiv2 p{
    margin-top: 4%;
  }

  .welcomePageDiv3{
    width: 300px;
  }

  .welcomePageButtonsDiv{
    width: 300px;
  }
  
  .RegisterGuestDiv{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 18px;
    width: 300px;
    margin-top: 5%;
  }

  .RegisterGuestDiv button{
    width: 300px;
  }

  .AlreadyRegisterdDiv{
    width: 300px;
    margin-top: 25%;
    text-align: center;
  }

  
  /* --------------------------------------------------   */
  
  /*  RegisterForm   */
  
    .RegisterLoginContainer {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 667px;
    }
  
    .RegisterHeader{
      width: 316px;
      height: 34px;
      font-size: 26px;
    }
  
    .RegisterParagraph1{
      width: 316px;
      height: 43px;
      margin-top: 12%;
    }
  
    .RegisterForm{
      width: 316px;
    }
  
    .RegisterFormDiv input{
      padding: 15px 16px 15px 25px;
      width: 316px;
      height: 50px;
    }
  
  
    .RegisterFormDiv label span{
    color: red;
    }
  
  
    .RegisterFormCheckBoxParagraph{
      display: flex;
      gap: 10px;
      margin-top: 5%;
      width: 316px;
    }
  
  
    .RegisterFormCheckBoxParagraph p {
      width: 316px;
      height: 42px;
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
    }
  
  
    .RegisterFormButton{
      box-sizing: border-box;
      padding: 10px 10px;
      width: 316px;
      height: 42px;
    }
  
    .registerParagraph2{
      margin-top: 4%;
      width: 316px;
      height: 22px;
      text-align: center;
      margin-bottom: 4%;
    }
  
    .registerParagraph2 button{
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
  
  
    /* -------------------------------------------- */
  
    /* Login Form */
    .LoginContainer{
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .LoginFormButton{
      width: 316px;
      height: 48px;
    }

    .LoginContainer .RegisterHeader{
      text-align: center;
    }
  
    .LoginParagraph2{
      width: 400px;
      height: 22px;
      text-align: center;
    }
  /* --------------------------------------------------   */
   
  /* CSS FÖR LEVEL SELECTOR OCH VEM SOM GÖR TESTET   */
  
  .level-selector{
    width: 330px;
    height: 665px;
    align-items: center;
  }
  
  .panel {
    width: 263px;
    height: 148px;
  }

  .panel1 input[type="radio"] {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .panel2 input[type="radio"] {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .panel1{
    width: 263px;
    height: 19px;
  }

  .panel2{
    width: 263px;
    height: 47px;
  }
  
  .panel1, .panel2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    gap: 15px;
    margin-bottom: 6%;
  }
  
  
  .level-div .age-container{
    padding: 0px;
    gap: 12.56px;
    width: 263px;
    height: 120px;
  }
  
  .age-container input{
    width: 263px;
    padding: 10px;
  }
  
  
  .level-div .level-container{
    padding: 0px;
    width: 263px;
  }
  
  .level-container select{
    width: 263px;
    padding: 10px;
    margin-top: 4%;
  }
  
  
  .level-selector .start-button {
    width: 263px;
  }

  .AgreeDiv {
    align-self: center;
    width: 263px;
    gap: 8px;
  }
  
  /* --------------------------------------------------   */
  
  /* CSS FÖR TEXT RUTAN SAMT STOPPKNAPPEN VID START AV TEST */
  
  .readingText {
    width: 320px;
  }
  
  
  .stop-button {
    width: 330px;
  }
  
  /* CSS FÖR FRÅGOR FORMULÄRET FRÅN TEXTEN */
  .questionsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 330px;
    overflow: scroll;
  }
  
  
  .question-form .questions {
    width: 330px;
  }
  
  .question-form .submitQuestions {
    width: 330px;
    height: 48px;
    padding: 23px 0px;
    gap: 31px;
    line-height: 5px;
  }
  
  /* CSS FÖR STATISTIK RUTAN VID SLUTET AV TESTET */
  
  .statisticsDiv {
    width: 330px;
  }
  
  .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80%;
    border-radius: 10px;
    margin-top: 3%;
  }
  
  .testStatistics {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 330px;
    width: 100%;
    margin-bottom: 2%;
    
  }
  
  .statisticsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15.8796px 0px;
    gap: 19.85px;
    width: 330px;
    height: 226px;
  }
  
  .statisticsRow div{
    gap: 19.85px;
    margin-left: 5%;
    
  }
  
  .statisticsFunFactHeader{
    display: flex;
    width: 100%;
    height: 33px;
    margin-bottom: 5%;
    align-items: center;
  }
  
  .statisticsFunFactHeader div{
    width: 130.02px;
    height: 33.11px;
    background: #E5EEFA;
    border: 1px solid rgba(96, 96, 96, 0.51);
    border-radius: 8px;
    text-align: left;
    
  }
  
  .statisticsFunFactHeader label{
    width: 58px;
    height: 20px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-left: 8px;
  }
  
  .SpeakerIcon{
    width: 25px;
    height: 17.61px;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .statisticsFunFact {
    width: 330px;
    height: 150px;
  }
  
  .statisticsFunFact2 {
    width: 330px;
    height: 55px;
  }
  
  .restartButtonDiv{
    width: 330px;
    margin-top: 5%;
  }
  
  .restartTestButton{
    padding: 0px;
    width: 100%;
    height: 48px;
  }
  
  .registerButtonDiv{
    width: 326px;
    height: 39px;
  }
  
  /* CSS FÖR SPARA DITT RESULTAT FORMULÄRET */
  .RegisterLoginContainer div .restartTestButton{
    margin-top: 10%;
    background: #F5F5F5;
    border: none!important;
    padding: 0!important;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    box-shadow: none;
    font-family: sans-serif;
    text-decoration: underline;
  }

}

/* Ipads */
@media only screen and (max-width: 1300px) and (min-width: 700px) {
  .readingImg{
    display: none;
  }

  .questionsContainer {
    width: 100vw;
  }

  /* CSS FÖR "LÄSRUTAN" DÄR ALL TEXT,FRÅGOR VISAS */
  .reading-box {
    font-size: 20px;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
  }  
  
  /* CSS FÖR VÄLKOMST SIDAN */
  .welcomePageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    margin-top: 25%;
    position: static;
    overflow-y: scroll;
    align-items: center;
  }

  .welcomePageDiv{
    width: 400px;
  }

  .welcomePageDiv2{
    height: auto;
    width: auto;
    margin-top: 8%;
  }

  .welcomePageDiv2 p{
    margin-top: 4%;
  }

  .welcomePageDiv3{
    width: 400px;
  }

  .welcomePageButtonsDiv{
    width: 400px;
  }
  
  .RegisterGuestDiv{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 18px;
    width: 400px;
    margin-top: 5%;
  }

  .RegisterGuestDiv button{
    width: 400px;
  }

  .AlreadyRegisterdDiv{
    width: 400px;
    margin-top: 13%;
    text-align: center;
  }

  /* --------------------------------------------------   */
  
  /*  RegisterForm   */
  
    .RegisterLoginContainer {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .RegisterHeader{
      width: 400px;
      height: 34px;
      font-size: 26px;
    }
  
    .RegisterParagraph1{
      width: 400px;
      height: 15px;
    }
  
    .RegisterForm{
      width: 400px;
    }
  
    .RegisterFormDiv input{
      padding: 15px 16px 15px 25px;
      width: 400px;
      height: 50px;
    }
  
    .RegisterFormDiv label span{
    color: red;
    }
  
    .RegisterFormCheckBoxParagraph{
      display: flex;
      gap: 10px;
      margin-top: 5%;
      width: 400px;
    }
  
    .RegisterFormCheckBoxParagraph p {
      width: 400px;
      height: 42px;
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
    }
  
    .RegisterFormButton{
      box-sizing: border-box;
      padding: 10px 10px;
      width: 400px;
      height: 42px;
    }
  
    .registerParagraph2{
      margin-top: 4%;
      width: 400px;
      height: 22px;
      text-align: center;
      margin-bottom: 0%;
    }
  
    .registerParagraph2 button{
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
  
    /* -------------------------------------------- */
  
    /* Login Form */
    .LoginContainer{
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 17.5%;
    }
  
    .LoginFormButton{
      width: 400px;
      height: 48px;
    }

    .LoginContainer .RegisterHeader{
      text-align: center;
    }
  
    .LoginParagraph2{
      width: 400px;
      height: 22px;
      text-align: center;
    }
  /* --------------------------------------------------   */
   
  /* CSS FÖR LEVEL SELECTOR OCH VEM SOM GÖR TESTET   */
  
  .level-selector{
    width: 450px;
    height: 665px;
    align-items: center;
  }
  
  .panel {
    width: 400px;
    height: 148px;
  }

  .panel1 input[type="radio"] {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .panel2 input[type="radio"] {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .panel1{
    width: 400px;
    height: 19px;
  }

  .panel2{
    width: 400px;
    height: 47px;
  }
  
  .panelLabel{
    font-size: 24px;
  }

  .panel1, .panel2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px;
    gap: 15px;
    margin-bottom: 6%;
  }
  
  .level-div .age-container{
    padding: 0px;
    gap: 12.56px;
    width: 400px;
    height: 120px;
  }
  
  .age-container input{
    width: 400px;
    padding: 10px;
  }
  
  .level-div .level-container{
    padding: 0px;
    width: 400px;
  }
  
  .level-container select{
    width: 400px;
    padding: 10px;
    margin-top: 4%;
  }
  
  .level-selector .start-button {
    width: 400px;
  }

  .AgreeDiv {
    align-self: center;
    width: 400px;
    gap: 8px;
  }
  
  /* --------------------------------------------------   */
  
  /* CSS FÖR TEXT RUTAN SAMT STOPPKNAPPEN VID START AV TEST */
  
  .readingText {
    width: 450px;
  }
  
  .stop-button {
    width: 450px;
  }
  
  /* CSS FÖR FRÅGOR FORMULÄRET FRÅN TEXTEN */
  .questionsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 450px;
    overflow: scroll;
  }
  
  
  .question-form .questions {
    width: 450px;
  }
  
  .question-form .submitQuestions {
    width: 450px;
    height: 48px;
    padding: 23px 0px;
    gap: 31px;
    line-height: 5px;
  }

  .question-form .questions .questionsRadioAndLabel label{
    font-size: inherit;
  }

  .question-form .questions p {
    font-size: inherit;
  }

  
  /* CSS FÖR STATISTIK RUTAN VID SLUTET AV TESTET */
  
  .statisticsDiv {
    width: 500px;
    height: 90%;
  }
  
  .statisticsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80%;
    border-radius: 10px;
    margin-top: 3%;
  }
  
  .testStatistics {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 500px;
    width: 100%;
    margin-bottom: 2%;
    
  }
  
  .statisticsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15.8796px 0px;
    gap: 19.85px;
    width: 500px;
    height: 226px;
  }
  
  .statisticsRow div{
    gap: 19.85px;
    margin-left: 5%;
    
  }
  
  .statisticsFunFactHeader{
    display: flex;
    width: 100%;
    height: 33px;
    margin-bottom: 5%;
    align-items: center;
  }
  
  .statisticsFunFactHeader div{
    width: 130.02px;
    height: 33.11px;
    background: #E5EEFA;
    border: 1px solid rgba(96, 96, 96, 0.51);
    border-radius: 8px;
    text-align: left;
    
  }
  
  .statisticsFunFactHeader label{
    width: 58px;
    height: 20px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-left: 8px;
  }
  
  .SpeakerIcon{
    width: 25px;
    height: 17.61px;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .statisticsFunFact {
    width: 500px;
    height: 150px;
  }
  
  .statisticsFunFact2 {
    width: 500px;
    height: 55px;
  }
  
  .restartButtonDiv{
    width: 500px;
    margin-top: 5%;
  }
  
  .restartTestButton{
    padding: 0px;
    width: 100%;
    height: 48px;
  }
  
  .registerButtonDiv{
    width: 500px;
    height: 39px;
  }
  
  /* CSS FÖR SPARA DITT RESULTAT FORMULÄRET */
  .RegisterLoginContainer div .restartTestButton{
    margin-top: 10%;
    background: #F5F5F5;
    border: none!important;
    padding: 0!important;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    box-shadow: none;
    font-family: sans-serif;
    text-decoration: underline;
  }



}
 


