.profile-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-item {
    width: 20%;
    margin: 16px;
    text-align: left;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    margin: 0;
}

