/* Profile left contanier */

.profile-container{
    display: grid;
    height: 1250px;
    width: 100%;
    place-items: center;
    backdrop-filter: blur(10px);
    background: #F5F5F5
}



.profile-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 385px;
    height: 515px;
    left: 215px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.profile-header{
    width: 385px;
    height: 38px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 5%;
    
}

.profile-message{
    width: 298px;
    height: 48px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #6D6D6D;
    margin-top: 7%;
}

/* Level conatainer */

.level-div2{
    margin-top: 5%;
    width: 385px;
    height: 200px;
    
}

.level-div2 .level-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
  }
  

  .level-container2 label {
    width: 300px;
    text-align: left;
    margin-bottom: 2%;
  }


  .level-container2 select{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 48px;
    background: rgba(255, 255, 255, 1e-05);
    border: .5px solid rgba(96, 96, 96, 0.51);
    border-radius: 54px;
    padding-left: 20px;
  }

  .start-button2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.7051px 22.8419px;
    gap: 11.42px;
    width: 300px;
    height: 48px;
    background: #4679BC;
    border: 1.14209px solid #486284;
    color: #FFFFFF;
    border-radius: 57.1047px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 27px;
    margin-top: 14%;
  }

/*--------------------------------------- */

/* Profile right contanier */

.profile-results-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 664px;
    height: 515px;
    left: 715px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }


.profile-subheaders{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 564px;
    height: 30px;
    margin-top: 4%;
}

.subheader{
    width: 98.08px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1F1F1F;
    flex: none;
    order: 1;
    flex-grow: 1;
}

 .profile-subheaders select{
    width: 0px;
    height: 21px;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1F1F1F;
    flex: none;
    order: 1;
    flex-grow: 1;
    border-right: 40px solid transparent;
    padding-left: 40px;
    font-weight: 800;
}


.profile-subheaders select:focus{
    outline:none;
}



.sortIcon{
    width: 11.67px;
    height: 11px;
    color: #1F1F1F;
}

.sortIcon2{
    width: 11.67px;
    height: 11px;
    color: #1F1F1F;
}

.profile-results-div{
    width: 564px;
    height: 400px;
    margin-top: 10px;
    overflow-y: scroll;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.profile-results-div::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.profile-results-div::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 5px;
}
.profile-results-div::-webkit-scrollbar-track {
    background-color: var(--scrollbarBG);
    border-radius: 5px;
}

.profile-result{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
}

.profile-result h3{
    width: 98.08px;
    height: 21px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    color: #1F1F1F;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.profile-result-info.wpm{
    background: #E5EEFA;
    border-radius: 30px;
}


.profile-result-info.wpm span{
    font-weight: 500;
}

.profile-result-info.amountOfRightQuestions span{
    font-weight: 500;
}


.emptyText{
    position: absolute;
    top: 50%;
    left: 30%;
}

/*Chart */

.chart-container{
    position: absolute;
    width: 1173px;
    height: 619px;
    left: 215px;
    top: 593px;
    background: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}


/* Settings */

.settings-container{
    position: absolute;
    left: 35.42%;
    right: 3.83%;
    top: 25.29%;
    bottom: 32.74%;
    width: 432px;
    height: 650px;
}

.settings-container-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8%;
}

.settings-container-header p{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
}

.settings-container-header h2{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;
    color: #000000;
}

.settings-container h3{
    width: 270px;
    height: 33px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #4E4E4E;
    
}

.settings-container label{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: black;
}

.settings-container p{
    width: 335px;

}

.settings-div{
    width: 432px;
    height: 277px;
}

.settings-div-content{
    display: flex;
    flex-direction: column;
    background-color: #E5EEFA;
    width: 432px;
    height: 237px;
    justify-content: center;
    
}

.settings-div-content .content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 3%;
}

.settings-div-header{
    display: flex;
    gap: 10px;
    
}

.settings-div-header button.active {
    background-color: #E5EEFA;
  }


 .settings-div-header button{
    width: 63.13px;
    height: 39.3px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    color: #1A3F71;
 } 

.settings-div button{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    border: none;
    background-color: white;
    
}

.settings-div .settings-button{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 316px;
    height: 38px;
    background: #4679BC;
    border: 1px solid #486284;
    border-radius: 50px;
    color: white;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 3%;
}

.settings-buttons-div{
    margin-top: 4%;
}

.settings-div .settings-button2{
    box-sizing: border-box;
    padding: 7px 26px;
    gap: 10px;
    width: 90px;
    height: 42px;
    background: #4679BC;
    border: 1px solid #486284;
    border-radius: 50px;
    color: white;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 3%;
    text-decoration: none;
}

.settings-div-content2{
    display: flex;
    flex-direction: column;
    background-color: #E5EEFA;
    width: 432px;
    height: 237px;
    justify-content: center;
    text-align: center;
}

.settings-input-div h2{
    margin-bottom: 3%;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

.settings-input-div input{
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 10px;
    width: 316px;
    height: 38px;
    background: white;
    border: 1px solid #4679BC;
    border-radius: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}








/* Settings responsive  */


@media only screen and (max-width: 912px) {

    .settings-container {
        position: absolute;
        left: 0%;

    }

    .settings-div-content2, .settings-container-header, .settings-div-header, .settings-container, .settings-div, .settings-div-content   {
        width: 100%;
    }
    .settings-input-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}









