.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    padding: 20px;
    font-size: 16px;
    height: 10vh;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a.fa {
    color: #4379B8;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer a.fa:hover {
    color: #e6e6e6;
  }
  
  .footer a.fa-facebook {
    font-size: 2.5rem;
    margin-right: 10px;
    padding: 5px;
  }
  
  .footer a.fa-linkedin {
    font-size: 2.5rem;
    padding: 10px;
  }
  
  .footer a.fa:hover {
    color: #e6e6e6;
    background-color: #666;
    border-radius: 5px;
  }


