/*Lägga till bättre css sen så det matchar ImviLabs*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: black;
    text-align: center;
    padding: 1rem;
    height: 10vh;
}
